 @media screen and (min-width:992px) { /* Ordinateur */  
  
body
{
    font-family: "raleway", sans empattement, "arial", 'Times New Roman' ;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin:auto;
    max-width: 1380px;
    color: black;
}

/* Header */

#logo{ /* Logo Booki */
      margin-top: 20px;
      margin-bottom: 30px;
      height: 45px; /* Hauteur */
}

header nav { /* Tout l'entête */
    display: flex;
    justify-content: space-between;
}

#menu { /* Tous les liens de l'entête */
    display: flex;
    list-style: none;
    padding-top: 30px;
}

header a { 
    margin: 0 0 0 45px;
    color: black;
    text-decoration: none;
}

header a:hover{
    cursor: pointer;
    font-weight: bold;
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 43px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Section 1 */


#localisation{ /* Icone de localisation */
    height: 20px; /* Hauteur */
    width: 20px; /* Largueur */
    border-radius: 15px 0 0 15px; /* Haut Droite Bas Gauche */
    background-color: #F2F2F2 ;
    padding: 15px 15px;
    float: left;
    text-align: center;
    font-size: 110%;
}
button{
    display: none;
}

.element1{  /*Zone texte de Recherche */
    font-size: 18px;
    border-top: 1px solid  #F2F2F2;
    border-bottom: 1px solid  #F2F2F2 ;
    border-right: none;
    border-left: none;
    padding: 15px;
    font-weight: bold ;
    width: 240px;
}

.element2 {  /* Barre Rechercher */
     background-color : #0065FC;
     color:white;
     font-size: 16px;
     border: none ;
     border-radius: 0 15px 15px 0; /* Haut Droite Bas Gauche */
     padding: 15px; 
     font-weight: bold;
     width: 140px; 
     cursor: pointer;
     text-align: left;
    }

.element2:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}   


/* Section 2 */


#section2{
    
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}


.bordure{   /* Bordure des filtres */
    border-radius: 0 25px 25px 0 ;
    border: 2px solid #F2F2F2;
    border-left: none;
    padding: 10px 10px 10px 25px; /* Haut Droite Bas Gauche */
    width: 120px; /* Largueur */
    margin-left: -20px;
}
.icon {
    display: flex;
    border-radius: 100%;
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 15px;
    text-align: center;
    float: left;
    font-size: 100%;
}

.famille{ /* Icone Famille */
    width: 16px; /* Largueur */
}

.familial{
    width: 80px; /* Largueur */
}

.animaux{
    width: 180px; /* Largueur */
}

.block{ /* Block des Icones + Filtres */
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.marge{ /*Marge du mot Filtres */
    margin-right: 20px;
}

.filtre{ /* Marge des filtres */
    margin-right: 20px;
    display:flex;
}

.filtre_aligne{
    display: flex;
}

.filtre:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#info{ /* Titre + Logo */
    display: flex;
    font-size: 15px;
    margin-top: 20px;
}

.fa-info { /* Logo Info */
    border: 2px solid #F2F2F2;
    color:#0065FC;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
    width: 10px; /* Largueur */
    height: 10px; /* Hauteur */
    font-size: 10px;
    margin-top: 10px;
}

#logement{ /* Titre à coté du Logo */
    font-weight: normal;
    margin-left: 15px;
}

/* Section 3 Hébergement */

#blockhébergement{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 100%;
}

#section3 .effet{
    border-radius: 20px;
    background-color: white;
    width:  100%; /* Largueur */
    height: 170px; /* Hauteur */
    margin: 10px 10px 20px 0px;
}

a{
    text-decoration: none;
    color: black;
}
#section3{
    border-radius: 20px;
    background-color: #F2F2F2;
    height: 500px; /* Hauteur */
    width: 750px; /* Largueur */
    padding: 15px;
    margin-bottom: 20px;
}

.block1{ /* Block des 3 premières images */
    display: flex; 
}

.block2{ /* Block des 3 suivantes */
    display: flex; 
}

#section3 img{ /*Photo de l'hébergement */
    padding:5px 5px 0 5px;
    border-radius: 20px 20px 0 0 ;  /* Haut Droite Bas Gauche */
    width: 95%; /* Largueur */
    height: 100px; /* Hauteur */
    margin-bottom: -15px;
}


#section3 div { /* Tarif Nuit + étoile */
    font-size: 12px;
    margin-left: 10px;
    margin-top: -12px;
}

#section3 h3{
    margin-left: 10px;
}

.fa-star{ /* Les étoiles */
    font-size: 10px;
    color:#0065FC;
}
.black{ /* Les étoiles */
    color: grey; 
    opacity: 0.3;
}

/* Aside Hôtel Populaire */

aside{
    height: 530px; /* Hauteur */
    width: 30%; /* Largueur */
    border-radius: 20px;
    background-color: #F2F2F2;
    padding-left: 40px; 
    display: flex;
    flex-direction: column;
}

aside h2{
    font-size: 25px;
}

#populaire{
    display: flex; 
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.etoile{
    color:black;
    font-size: 20px;
    margin-left: 70px;
}

aside a{
    color: black;
    text-decoration: none;  
}


aside article{ /* Block image + son texte */
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 90%; /* Largueur */
    height: 130px; /* Hauteur */
    margin-bottom: 20px;
}

aside img{ /* Photo Hôtel Populaire */
    padding:5px;
    border-radius: 20px 0 0 20px;  
    width: 35%; /* Largueur */
    height: 94%; /* Hauteur */
    margin-right: 10px;
    object-fit: cover;
}

.description{ /* Nom hôtel + tarif et étoile */
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

aside h3{
    padding-right:5px;
    margin-bottom: -20px;
}

aside div{
    font-size: 13px;
}

aside .fa-star{
text-decoration: none;
}



/* Section 4  Activités  */

#section4{
display: flex;
justify-content: space-evenly;
width: 100%;
padding: 15px;

}

#section4 a{
    text-decoration: none;
    color: black;
}


#part1{
    margin-bottom: 20px;
    height: 430px; /* Hauteur */
    width: 100%; /* Largueur */
    display: flex;
    margin-right: -50px;
}

#part2{
    margin-bottom: 20px;
    height: 430px; /* Hauteur */
    width: 100%; /* Largueur */
    display: flex;
}

#sectionpart1{
    margin-bottom: 30px;
    height: 430px; /* Hauteur */
    width: 50%; /* Largueur */
}

#sectionpart2{
    margin-bottom: 30px;
    height: 430px; /* Hauteur */
    width: 50%; /* Largueur */
}

#section4 article{
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    background-color: white;
}
#activités1{ 
   
    width:  45%; /* Largueur */
    height: 430px; /* Hauteur */
    margin-right: 20px;

}
#image1{
    border-radius: 15px 15px 0 0 ;  /* Haut Droite Bas Gauche */
    width: 100%; /* Largueur */
    height: 370px; /* Hauteur */
}

#activités2{
    width:  260px; /* Largueur */
    height: 220px; /* Hauteur */
    margin-bottom: 20px;

}
#image2{
    border-radius: 15px 15px 0 0 ;  /* Haut Droite Bas Gauche */
    width: 100%; /* Largueur */
    height: 160px; /* Hauteur */
}

#activités3{
    width:  260px; /* Largueur */
    height: 150px; /* Hauteur */
    
}
#image3{
    border-radius: 15px 15px 0 0;  /* Haut Droite Bas Gauche */
    width: 100%; /* Largueur */
    height: 130px; /* Hauteur */
}

#activités4{
   
    height: 430px; /* Hauteur */
    width:  50%; /* Largueur */
    margin-right: 20px;
}
#image4{
    border-radius: 15px 15px 0 0 ;  /* Haut Droite Bas Gauche */
    width: 100%;/* Largueur */
    height: 370px; /* Hauteur */
}

#activités5{
    width:  270px; /* Largueur */
    height: 180px; /* Hauteur */
    margin-bottom: 60px;
}
#image5{
    border-radius: 15px 15px 0 0 ;  /* Haut Droite Bas Gauche */
    width: 100%; /* Largueur */
    height: 160px; /* Hauteur */
}

#activités6{
    width:  270px; /* Largueur */
    height: 220px; /* Hauteur */
}
#image6{
    border-radius: 15px 15px 0 0 ;  /* Haut Droite Bas Gauche */
    width: 100%; /* Largueur */
    height: 130px; /* Hauteur */
}

#section4 h4{
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.effet:hover{
    transform: scale(1.1);
    cursor: pointer;
}


 /*Footer*/

 
footer{
    display: flex;
    background-color: #F2F2F2;
    margin-top: 50px;
    justify-content: space-around;
}

footer ul{
    list-style: none;
    flex-direction: column;
}

footer li{
    margin-bottom: 10px;
}

footer div{
    margin-left: -300px;
}

.assistance{
    margin-left: -500px;
}

.hébergement{
    margin-left: -500px;
}
 }